<% @favorites.each do |favorite|%>
  
	<div class="container">

  <div class="row">
    <div class="col s12 m6">
      <div class="asset">
  <h5><%= favorite.topic.title %></h5>
      </div>
    </div>

  <hr>
</div>
        
	
<% end -%>